<!DOCTYPE html>
<html>
  <head>
    <title>Hello from Lambda!</title>
  </head>
  <body>
    {% if name != '' %}
    <h1 id="header">Hello {{ name }}!</h1>
    {% else %}
    <h1 id="header">Hello Guest!</h1>
    {% endif %}
    <h2>Welcome to the Simple Todo App!</h2>
    <p>Select a function below!</p>
    {% if is_login %}
    <p><a href="#header">Add Task</a></p>
    <p><a href="#header">Check Tasks</a></p>
    {% else %}
    <p><a href="#header">Login</a></p>
    {% endif %}
  </body>
</html>

