<!DOCTYPE html>
<html>
  <head>
    <title>Tasks - Simple Todo App</title>
    <meta charset="utf-8">
  </head>
  <body>
    <h1>Here's your Tasks!</h1>
    <form action="" method="post" class="todo_form">
        <input type="text" id="input_todo_title" placeholder="タスクを入力" required />
        <input type="date" id="input_todo_deadline" required />
        <input type="submit" value="登録" />
    </form>
    <table>
        <thead>
            <tr>
                <th scope="col">Title</th>
                <th scope="col">Memo</th>
                <th scope="col">Deadline</th>
        </thead>
        {% if tasks | length == 0 %}
            <p>All your tasks seem done! Have a nice day!</p>
        {% else %}
            {% for task in tasks %}
                <tr>
                    <td>{{ task.title }}</td>
                    <td>{{ task.memo }}</td>
                    <td>{{ task.deadline }}</td>
                    <td><a href={{ "update/?task_id=WILDCARD" | replace("WILDCARD" , task.id) }}>編集</a></td>
                    <td><a href={{ "delete/?task_id=WILDCARD" | replace("WILDCARD" , task.id) }}>削除</a></td>
                </tr>
            {% endfor %}
        {% endif %}
    </table>
  </body>
</html>

